<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wjg.base.shiro.mapper.SysRoleUserMapper">
    <resultMap id="sysRoleUser" type="com.wjg.base.shiro.pojo.SysRoleUser">
        <id property="sid" column="sid"/>
        <result property="userSid" column="user_sid"/>
        <result property="roleSid" column="role_sid"/>
    </resultMap>


    <insert id="insertSysRoleUser" parameterType="SysRoleUser">
        INSERT INTO sys_role_user (user_sid, role_sid) VALUES (#{userSid},#{roleSid})
    </insert>

    <delete id="deleteSysRoleUser" parameterType="long">
        DELETE  FROM  sys_role_user WHERE sid=#{sid}
    </delete>

    <delete id="deleteSysRoleUSerByUserSid" parameterType="long">
        DELETE  FROM  sys_role_user WHERE user_sid=#{sysUserSid}
    </delete>
    
    <delete id="deleteSysRoleUserByRoleSid" parameterType="long">
        DELETE  FROM  sys_role_user WHERE role_sid=#{sysRoleSid}
    </delete>

    <select id="selectRoleKeysByUserSid" resultType="String" parameterType="long">
        SELECT r.role_key
        FROM sys_role_user sru
        JOIN sys_role r
        ON sru.role_sid = r.sid
        WHERE sru.user_sid=#{sysUserSid}
    </select>
</mapper>